{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <div class="container-xxl bg-primary hero-header">
        <div class="container px-lg-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 text-center text-lg-start registration-form" id="headtextbg"
                     style="margin-bottom: 50px; margin-top: 50px">
                    <h1 class="text-white mb-4 animated slideInDown">Register!</h1>
                    <p class="text-white pb-3 animated slideInDown">
                    <div id="formDesign" style="color: white">
                        <form method="post" enctype="multipart/form-data" {% url 'register user' %}>
                            {% for field in form %}
                                <strong>{{ field.label_tag }}</strong>
                                {{ field }}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <span style="color: #7a0101;">{{ error }}</span><br>
                                    {% endfor %}
                                {% endif %}
                                <br>
                            {% endfor %}
                            <input class="btn submit" style="background: white" type="submit" value="Create Profile">
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 text-center d-flex align-items-center">
                    <img src="../../static/images/bulgaria_vector.png" class="img-fluid"
                         style="max-width: 100%; height: auto;">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
