{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <section class="ftco-section ftco-about img" style="background-image: url('{% static "images/flag_bg.jpg" %}');">
        <div class="overlay"></div>
        <div class="container py-md-5">
            <div class="row py-md-5">
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-about ftco-no-pt img">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-12 about-intro">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="img d-flex w-100 align-items-center justify-content-center"
                                 style="height: 800px; background-image:url({{ figure.additional_photo.url }});">
                            </div>
                            <blockquote class="blockquote mt-3">
                                <p class="mb-0"><strong>{{ figure.quote }}</strong></p>
                            </blockquote>
                        </div>
                        <div class="col-md-7 pl-md-5 py-5">
                            <div class="row justify-content-start pb-3">
                                <div class="col-md-12 heading-section ftco-animate">
                                    <span class="subheading" style="color: darkred;">Historic Figures</span>
                                    <h2 class="mb-4">{{ figure.name }} {{ figure.lifespan }}</h2>
                                </div>
                            </div>
                            <div class="row justify-content-start">
                                <div class="col-md-12 heading-section ftco-animate">
                                    <p>{{ figure.biography }}</p>
                                    <p>
                                        <a href="{% url 'display_historic_figure_quiz' figure.pk %}"
                                           class="btn btn-success" style="margin-bottom: 5px;">
                                            <i class="fa-solid fa-unlock"></i>
                                            Unlock
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
