{% extends 'base.html' %}
{% block page_content %}

    <h1>Leaderboard</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>User</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in leaderboard_data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                     <td>{{ entry.user.profile.first_name }} {{ entry.user.profile.last_name }}</td>
                    <td>{{ entry.points }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
