{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <div class="container my-4">
        <h1 class="mb-4">Leaderboard</h1>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>User</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in leaderboard_data %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ entry.user.profile.first_name }} {{ entry.user.profile.last_name }}</td>
                            <td>{{ entry.points }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
