{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <div class="row py-5 px-4">
        <div class="col-md-7 mx-auto">
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover">
                    <div class="media align-items-end profile-head">
                        {% if user.profile.profile_picture %}
                            <div class="profile mr-3"><img
                                    src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" width="130"
                                    class="rounded mb-2 img-thumbnail">
                                <a href="{% url 'edit profile' pk=user.pk %}"
                                   class="btn btn-outline-dark btn-sm btn-block">Edit profile</a>
                            </div>
                        {% else %}
                            <div class="profile mr-3"><img
                                    src="../../static/images/default_pfp.jpg" alt="Profile Picture" width="130"
                                    class="rounded mb-2 img-thumbnail">
                                <a href="{% url 'edit profile' pk=user.pk %}"
                                   class="btn btn-outline-dark btn-sm btn-block">Edit profile</a>
                            </div>
                        {% endif %}
                        <div class="media-body mb-5 text-white">
                            <h4 class="mt-0 mb-0">{{ user.profile.first_name }} {{ user.profile.last_name }}</h4>
                            <p class="small mb-4"><i
                                    class="fas fa-map-marker-alt mr-2"></i>{{ user.profile.nationality }}</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light p-4 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">215</h5>
                            <small class="text-muted">
                                <i class="fa fa-image mr-1">
                                </i>Photos</small>
                        </li>
                    </ul>
                </div>
                <div class="px-4 py-3">
                    <h5 class="mb-0" style="padding-bottom: 30px;">Favourite Landmarks</h5>
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="p-4 rounded shadow-sm bg-light">
                        {% if favorite_landmarks %}
                            {% for landmark in favorite_landmarks %}
                                {% if forloop.counter0|divisibleby:3 %}
                                    <div class="row">
                                {% endif %}
                            <div class="col-md-4 ftco-animate">
                                <div class="project-wrap">
                                    <a href="#" class="img"
                                       style="background-image: url({{ landmark.landmark.landmark_photo.url }});">
                                        <span class="price">{{ landmark.landmark.trip_time }}</span>
                                    </a>
                                    <div class="text p-4">
                                        <span class="days">Landmarks</span>
                                        <h3><a href="#">{{ landmark.landmark.title }}</a></h3>
                                        <p class="location"><span
                                                class="fa-solid fa-location-dot"></span> {{ landmark.landmark.location }}
                                        </p>

                                        <a href="{% url 'landmark details' pk=landmark.landmark.id %}"
                                           class="btn btn-success">
                                            <i class="fa-solid fa-bars"></i>
                                            Details
                                        </a>
                                        <form method="POST" class="d-inline-block"
                                              action="{% url 'delete_landmark_from_favourites' pk=landmark.pk %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger"
                                                    onclick="return confirm('Are you sure you want to remove this from favourites?');">
                                                <i class="fa-regular fa-trash-alt"></i>
                                                Delete
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:3 or forloop.last %}
                                </div>
                            {% endif %}
                            {% endfor %}
                        {% endif %}


                    </div>
                </div>
                <div class="py-4 px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h5 class="mb-0">Recent photos</h5>
                        <a href="#" class="btn btn-link text-muted">Show all</a>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-2 pr-lg-1">
                            <img src="https://images.unsplash.com/photo-1469594292607-7bd90f8d3ba4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                                 alt="" class="img-fluid rounded shadow-sm">
                        </div>
                        <div class="col-lg-6 mb-2 pl-lg-1">
                            <img src="https://images.unsplash.com/photo-1493571716545-b559a19edd14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                                 alt="" class="img-fluid rounded shadow-sm">
                        </div>
                        <div class="col-lg-6 pr-lg-1 mb-2">
                            <img src="https://images.unsplash.com/photo-1453791052107-5c843da62d97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                                 alt="" class="img-fluid rounded shadow-sm">
                        </div>
                        <div class="col-lg-6 pl-lg-1"><img
                                src="https://images.unsplash.com/photo-1475724017904-b712052c192a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                                alt="" class="img-fluid rounded shadow-sm">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
