{% extends 'base.html' %}
{% load static %}
{% block custom_styles %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block page_content %}

    <div class="row py-5 px-4">
        <div class="col-md-7 mx-auto">
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover">
                    <div class="media align-items-end profile-head">
                        {% if user.profile.profile_picture %}
                            <div class="profile mr-3"><img
                                    src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" width="130"
                                    class="rounded mb-2 img-thumbnail">
                                <a href="{% url 'edit profile' pk=user.pk %}"
                                   class="btn btn-outline-dark btn-sm btn-block">Edit profile</a>
                            </div>
                        {% else %}
                            <div class="profile mr-3"><img
                                    src="../../static/images/default_pfp.jpg" alt="Profile Picture" width="130"
                                    class="rounded mb-2 img-thumbnail">
                                <a href="{% url 'edit profile' pk=user.pk %}"
                                   class="btn btn-outline-dark btn-sm btn-block">Edit profile</a>
                            </div>
                        {% endif %}
                        <div class="media-body mb-5 text-white">
                            <h4 class="mt-0 mb-0">{{ user.profile.first_name }} {{ user.profile.last_name }}</h4>
                            <p class="small mb-4"><i
                                    class="fas fa-map-marker-alt mr-2"></i>{{ user.profile.nationality }}</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light p-4 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">{{ picture_count }}</h5>
                            <small class="text-muted">
                                <i class="fa fa-image mr-1">
                                </i>Photos</small>
                        </li>
                    </ul>
                </div>
                <div class="px-4 py-3">
                    <h5 class="mb-0" style="padding-bottom: 30px;">Favourite Landmarks</h5>
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="p-4 rounded shadow-sm bg-light">
                        {% if favorite_landmarks %}
                            {% for landmark in favorite_landmarks %}
                                {% if forloop.counter0|divisibleby:3 %}
                                    <div class="row">
                                {% endif %}
                            <div class="col-md-4 ftco-animate">
                                <div class="project-wrap">
                                    <a href="#" class="img"
                                       style="background-image: url({{ landmark.landmark.landmark_photo.url }});">
                                        <span class="price">{{ landmark.landmark.trip_time }}</span>
                                    </a>
                                    <div class="text p-4">
                                        <span class="days">Landmarks</span>
                                        <h3><a href="#">{{ landmark.landmark.title }}</a></h3>
                                        <p class="location"><span
                                                class="fa-solid fa-location-dot"></span> {{ landmark.landmark.location }}
                                        </p>

                                        <a href="{% url 'landmark details' pk=landmark.landmark.id %}"
                                           class="btn btn-success">
                                            <i class="fa-solid fa-bars"></i>
                                            Details
                                        </a>
                                        <form method="POST" class="d-inline-block"
                                              action="{% url 'delete_landmark_from_favourites' pk=landmark.pk %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger"
                                                    onclick="return confirm('Are you sure you want to remove this from favourites?');">
                                                <i class="fa-regular fa-trash-alt"></i>
                                                Delete
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:3 or forloop.last %}
                                </div>
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            <p class="text-center">You haven't added any landmarks to favourites yet!</p>
                        {% endif %}
                    </div>
                </div>
                <div class="py-4 px-4">
                    <div class="d-flex flex-column align-items-start mb-3">
                        <h5 class="mb-2">My uploads</h5>
                        <p class="mb-2 text-muted">Share your memorable moments from Bulgaria. Upload your photos here
                            and revisit those beautiful times whenever you wish.</p>
                        <a href="{% url 'upload picture' %}" class="btn btn-primary">Upload Photo</a>
                    </div>
                    <div class="row">
                        {% for upload in uploads %}
                            <div class="col-lg-6 col-md-4 col-sm-6 mb-2">
                                <div class="position-relative">
                                    <img src="{{ upload.picture.url }}" alt="{{ upload.title }}"
                                         class="img-fluid w-100">
                                    <div class="photo-title-overlay">
                                        <span class="photo-title">{{ upload.title }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}