{% extends 'base.html' %}

{% load static %}

{% block custom_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/historic_figures.css' %}">
{% endblock %}
{% block page_content %}

    <div class="container my-4">
        <div class="row justify-content-center">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="col-12 col-md-10">
                <div class="card">
                    <div class="row no-gutters align-items-stretch">

                        <!-- Image for smaller screens -->
                        <div class="col-12 d-md-none">
                            <img src="{{ figure.additional_photo.url }}" class="img-fluid" alt="{{ figure.name }}">
                        </div>

                        <!-- Image column for larger screens -->
                        <div class="col-12 col-md-5 d-none d-md-flex flex-column quiz-image"
                             style="background-image: url('{{ figure.additional_photo.url }}');">
                        </div>

                        <!-- Quiz column -->
                        <div class="col-12 col-md-7">
                            <div class="card-body">
                                <h1 class="card-title">{{ figure.name }} Quiz</h1>
                                <form method="post" action="{% url 'process_historic_figure_quiz' figure.id %}">
                                    {% csrf_token %}
                                    {% for question in questions %}
                                        <h3>{{ question.question_text }}</h3>
                                        <ul class="list-unstyled">
                                            {% for choice in question.choices.all %}
                                                <li>
                                                    <input type="radio" name="question{{ question.id }}"
                                                           value="{{ choice.choice_text }}">
                                                    {{ choice.choice_text }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endfor %}
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
