{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <div class="hero-wrap js-fullheight">
        <video autoplay muted loop id="myVideo">
            <source src="{% static 'images/bg_video.mp4' %}" type="video/mp4">
        </video>
        <div class="overlay"></div>
        {% if user.is_authenticated %}
            <div class="container">

                <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">

                    <div class="col-md-7 ftco-animate">
                        <span class="subheading">A journey through history</span>
                        <h1 class="mb-4">Welcome, {{ user.profile.first_name }} to Discover Bulgaria</h1>
                        <p class="caps">Explore Bulgaria's Rich Cultural Heritage</p>
                    </div>

                </div>

            </div>

            </div>
        {% else %}
            <div class="container">

                <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">

                    <div class="col-md-7 ftco-animate">
                        <span class="subheading">A journey through history</span>
                        <h1 class="mb-4">Welcome to Discover Bulgaria, please register or log in!</h1>
                        <p class="caps">Explore Bulgaria's Rich Cultural Heritage</p>
                    </div>

                </div>

            </div>

        {% endif %}


    <section class="ftco-section ftco-about ftco-no-pt img" style="background: white;">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-12 about-intro">
                    <div class="row">
                        <div class="col-md-6 d-flex align-items-stretch">
                            <div class="img d-flex w-100 align-items-center justify-content-center"
                                 style="background-image:url(static/images/bg_overview.jpg);">
                            </div>
                        </div>
                        <div class="col-md-6 pl-md-5 py-5" style="padding-bottom: 0 !important;">
                            <div class="row justify-content-start pb-3">
                                <div class="col-md-12 heading-section ftco-animate">
                                    <h2 class="mb-4">A Brief Historical Overview</h2>
                                    <p>Bulgaria's rich cultural heritage is shaped by a history that spans centuries.
                                        Situated
                                        at the
                                        crossroads of Europe and Asia, Bulgaria has been influenced by various
                                        civilizations and
                                        cultures
                                        throughout its history. The ancient Thracians, a civilization that predates the
                                        Roman Empire, inhabited these
                                        lands and left
                                        behind archaeological treasures and mysterious artifacts. The Roman Empire also
                                        played a
                                        significant
                                        role in Bulgaria's history, leaving behind impressive ruins and structures. The
                                        Middle Ages marked a period of Bulgarian statehood and cultural development. The
                                        First Bulgarian
                                        Empire, founded in the 7th century, produced remarkable art, literature, and
                                        religious
                                        architecture.
                                        The famous Boyana Church, a UNESCO World Heritage site, showcases exquisite
                                        frescoes
                                        from this era. The Ottoman rule in Bulgaria lasted for nearly five centuries and
                                        left a lasting impact
                                        on the
                                        country's culture. The struggle for independence culminated in the late 19th
                                        century
                                        with the
                                        liberation of Bulgaria from Ottoman control. Bulgaria's cultural heritage
                                        encompasses diverse traditions, from traditional folk music
                                        and dance
                                        to vibrant festivals and culinary delights. The country's historical sites, such
                                        as the
                                        Rila
                                        Monastery and the ancient city of Plovdiv, offer glimpses into Bulgaria's rich
                                        past. Today, Bulgaria's cultural heritage continues to thrive, celebrating its
                                        past while
                                        embracing modern
                                        influences. Visitors to Bulgaria are treated to a fascinating journey through
                                        history,
                                        where ancient
                                        landmarks and modern attractions coexist harmoniously.
                                    </p>
                                    <p><a href="#" class="btn btn-primary">Explore</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}